/* universal selector styling: removes default styling of elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styling for the body */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* styling for the text areas */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* styling for page title  */
.jumbotron {
  text-align: center;
  background-color: rgb(144, 179, 218);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid rgb(22, 78, 129);
}

/* styling for text below page title */
.description {
  white-space: pre-wrap;
}

/* styling for date */
.time-block {
  text-align: center;
  border-radius: 15px;
}

/* styles planner section */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* styles the time portion of the planner */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  border-right: 3px solid rgb(23, 107, 103);
}

/* background colors for each text area depending on the time */
.past {
  background-color: rgb(100, 133, 143); 
  color: white;
}

.present {
  background-color: rgb(125, 219, 231);
  color: white;
}

.future {
  background-color:rgb(5, 94, 146);
  color: white;
}

/* styling for the save buttons */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* styling for time portion text */
.input-group-text {
  width: 75px;
  align-items: flex-start;
  justify-content: flex-end;
}

/* styling for all buttons */
.btn {
  width: 75px;
}

/* styling for reset button  */
.btn-reset {
  width: fit-content;
  padding: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
}

/* additional styling for the time portion text span */
#basic-addon1 {
  background: none;
  border: none;
}



